.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.banner-card{
  width: 100%;
  margin-top: 2vh;
  margin-bottom: 2vh;
  height: 70vh;
  position: relative;

}
.banner-title{
  position: absolute;
  top: 45vh;
  color: white;
  left:5vw;
}
.banner-img{
  height: 70vh;
  width: 100%;
  border-radius: 4px;
}
.banner-text{
  position: absolute;
  color:white;
  top: 50vh;
  height: 4.5rem;
  left: 5vw;

}
.text-center{
  align-items: center;
  margin-top: 1rem;
}
.movies-list{
  display: flex;
  padding: 1rem;
  justify-content: centre;
  flex-wrap: wrap;
  margin-left: 5rem;

}
.movie-card{
  margin: 1rem;
  width: 20vw;
  color: white;
  position: relative;

}
.movie-title{
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.releas_date{
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  color: rgb(247, 250, 85);
  

}
.navigation{
  background-color: #cdecf5;
}
.rating{
  position: absolute;
  top: 5rem;
  left: 1rem;
  color: rgb(247, 250, 85);
  

}
.movies-button{
  position: absolute;
  bottom: 2.5rem;
  left: 5rem;
  /* left: 4rem;
  width: 12rem; */
}
.movie-release{
  position: absolute;
  top: 2rem;
  left: 1rem;
  color:rgb(247, 250, 85);
  /* padding: 0.5rem; */
  margin-top: 2rem;
}
.genre-selector{
  /* margin-top: 2rem; */
  padding: 3rem;
}
.favourites-table{
  padding: 3rem;
}
.logo-img{
  
  width: 6rem;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
